<div width=50% style="display: block; margin: auto">
    <img src="figures/ucl-logo.svg" width=100%>
</div>

### [UCL-ELEC0136 Data Acquisition and Processing Systems 2024]()
University College London
# Lab 2: Data Storage


<hr width=70% style="float: left">

### Objectives
* Make sure that you've completed the setting up tasks from Lab 0 and Lab 1
* Install a MySQL server on your machine
* Create your free MongoDB Atlas account that you can use to create a NoSQL online database
* Learn the fundamentals of SQL syntax
* Learn how to connect to and quiery a local MySQL server with python
* Learn how NoSQL databases differ from standard SQL databases
* Learn how to use MongoDB to host your NoSQL online database
* Learn how to query your MongoDB NoSQL online database with python using `pymongo` 

### Outline

**YOU ARE DEVELOPPING AN APPLICATION TO KEEP TRACK OF ORDERS FOR A RETAIL COMPANY**

In this lab, you will learn the basics of how to use databases using python by coding elements of the backend of a webapp that handles the orders of a retail business. You will use this exemple use-case to get a sense of how SQL and NoSQL are used.

This notebook has 3 parts:

0. [Setting up](#0.-Setting-up)
1. [Crossing orders and user data with SQL](#1.-Crossing-orders-and-user-data-with-SQL)
2. [Saving item descritpions with NoSQL](#2.-NoSQL-with-MongoDB)

<hr width=70% style="float: left">

# 0. Setting up


<div class="alert alert-heading alert-danger" style="background-color: white; border: 2px solid; border-radius: 5px; color: #000; border-color:#AAA; padding: 10px">
    <b>üíé Tip</b>

Hopefully, this part will run smoothly, allowing you to proceed with the rest of the notebook quickly. However, it is possible that you encounter versioning problems and installation errors. **If you do, please seek assistance from the TAs so that you move on to the rest of the lab as fast as possible.**

</div>

Unfortunately, situations where you lose time trying to figure out why a package doesn't work on your machine are an inevitable part of your life if you work with software, and you will encounter such issues many times in your career. There is a silver lining: learning how to debug an installation is a valuable skill that will benefit you greatly!


<div class="alert alert-block alert-danger">
<b>üë©‚Äçüíªüë®‚Äçüíª Action required</b>
    
- Make sure your OS is updated to the latest version.
    
</div>

## 0.0 Setting up tasks from Lab 0 and Lab 1

<div class="alert alert-block alert-danger">
<b>üë©‚Äçüíªüë®‚Äçüíª Action required</b>
    
- Run throught the following checklist and make sure that you've done all of the tasks before moving on to parts 0.1 and 0.2.
- If you encounter an issue, try to troubleshoot by looking online if other people have encountered the same issues and how they solved it.
- If all fails, use the forum on Moodle to reach out to the teaching staff.

    
</div>

**Git**
* Install git on your computer from [the official git websiste](https://git-scm.com).
* Make sure you're familiar with [git's basic commands](https://education.github.com/git-cheat-sheet-education.pdf)

**VS Code**
* Install [VS Code](https://code.visualstudio.com)
* In VS Code, go to the extensions tab, and download the [python extension](https://marketplace.visualstudio.com/items?itemName=ms-python.python) and [jupyter extension](https://marketplace.visualstudio.com/items?itemName=ms-toolsai.jupyter).

**Conda python environment**
- Look [here](https://github.com/UCL-ELEC0136/setup) to understand how an environment .yml file where the pip requirements are stored separate into another file.
- Create an environment file with your blocknote app and name it `environment.yml`.
- The environment (not the file) **must** have name `daps`.
- Replace the version of python with 3.11.
- Create a text file called `requirements.txt`, add package names to be installed with your environmen (numpy, pandas, requests, jupyter, jupyterlab...)
- Open a terminal and use cd to navigate to the folder containing the `environment.yml` environment file.
- Run the command `sudo conda env create -f environment.yml`, enter the password of your session, press enter.
- Run the command `conda info --envs` to check that the envirionment called daps has been created.
- Run the command `conda activate daps` to activate the environment.
- Install the dependencies using `pip install -r requirements.txt`. You can do this in the cell bellow or in your terminal.
- In VS Code, verify that your Notebook is running on the python kernel `daps`.
**NOTE: for this lab and all future labs, make sure that your Notebook is running on the python kernel `daps`.** 
This is a key step as it guarantees that your development environment is **reproducible**.


<div width=50% style="display: block; margin: auto">
    <img src="./figures/kernel.png" width=100%>
</div>



<div class="alert alert-heading alert-danger" style="background-color: white; border: 2px solid; border-radius: 5px; color: #000; border-color:#AAA; padding: 10px">
    <b>üíé Tip</b>

You can prepend an exclamation mark `!` to any command in a Jupyter notebook to run it in the terminal. For example, `!conda activate daps` will activate the `daps` environment in the terminal.

</div>

## 0.1 Setting up MySQL and its connection to the Notebook

### 0.1.1 Setting up a MySQL server on your machine

In this part, we will set up a [MySQL Community Server](https://dev.mysql.com/downloads/mysql/) on your machine, that we will then use as our WebApp SQL server.

<div class="alert alert-heading alert-danger" style="background-color: white; border: 2px solid; border-radius: 5px; color: #000; border-color:#AAA; padding: 10px">
    <b>üíé Tip</b>

If at some point you make a mistake (you download the wrong version...), and want to start again, run in your terminal `pip3 uninstall mysql` to uninstall the version of mysql on your machine.
</div>

<div class="alert alert-block alert-danger">
<b>üë©‚Äçüíªüë®‚Äçüíª Action required</b>

- Download the version of MySQL Community server adapted to the machine you are working on from this website: https://dev.mysql.com/downloads/mysql/
    
- Install the MySQL Community server, you will be asked to create a password, **PLEASE KEEP A RECORD OF THAT PASSWORD YOU WILL NEED IT LATER**. [Linux tutorial](https://www.youtube.com/watch?v=0o0tSaVQfV4) [MAC tutorial](https://www.youtube.com/watch?v=5BQ5GvjiAR4) [Windows tutorial](https://www.youtube.com/watch?v=2HQC94la6go)
    
    *Note1: for MAC, install the x86 version if you have an Intel CPU, and the ARM version if you have an Apple CPU*
    
    *Note2: you don't need an Oracle account, just click on "No thanks, just start my download."*
    
    *Note3: you don't need to install MySQL Workbench*
    
    
    
- Run the cell bellow (or open a terminal and type `mysql -V`). This should give you the version of MySQL installed on your machine, which will let you know that the installation was successful. If it doesn't work, try restarting your machine, and if still unsucessful call for help.

</div>

In [5]:
!python --version # Version of python of this Notebook

Python 3.11.5

In [1]:
!mysql -V

mysql  Ver 8.1.0 for Win64 on x86_64 (MySQL Community Server - GPL)

### 0.1.2 Installing and importing important python libraries

<div class="alert alert-block alert-danger">
<b>üë©‚Äçüíªüë®‚Äçüíª Action required</b>

- Go to the requirement.txt file you created in lab 1, and add `mysql-connector-python` to the list of packages.
- Open a terminal, navigate using `cd` to the folder in which requirements.txt is located, and run `pip3 install -r requirements.txt`.

</div>

In [1]:
#Install python librairies
!pip show mysql-connector-python # Version of python of mysql-connector


# FOR DEBUGING if installation of the package using the requirements.txt fails
#!pip3 install mysql-connector-python

Name: mysql-connector-python
Version: 8.1.0
Summary: MySQL driver written in Python
Home-page: http://dev.mysql.com/doc/connector-python/en/index.html
Author: Oracle and/or its affiliates
Author-email:
License: GNU GPLv2 (with FOSS License Exception)
Location: C:\Users\32216\AppData\Local\Programs\Python\Python311\Lib\site-packages
Requires: protobuf
Required-by:

WARNING: Package(s) not found: #, Version, mysql-connector, of, of, python

<div class="alert alert-block alert-danger">
<b>üë©‚Äçüíªüë®‚Äçüíª Action required</b>

- Run the cells bellow and check that no errors are returned.

</div>

In [8]:
#Import python librairies into your Jupyter shell
import pandas as pd
import mysql.connector
from mysql.connector import Error


# FOR DEBUGING IF THIS CELL RETURNS AN ERROR
!python --version # Version of python of this Notebook
!pip show mysql-connector-python # Version of python of mysql-connector

#import sys
#sys.path.append('/Users/32216/AppData/Local/Programs/Python/Python311/Lib/site-packages') #<-- Put here the path where "mysql-connector-python" was installed

Python 3.11.5
Name: mysql-connector-python
Version: 8.1.0
Summary: MySQL driver written in Python
Home-page: http://dev.mysql.com/doc/connector-python/en/index.html
Author: Oracle and/or its affiliates
Author-email:
License: GNU GPLv2 (with FOSS License Exception)
Location: C:\Users\32216\AppData\Local\Programs\Python\Python311\Lib\site-packages
Requires: protobuf
Required-by:

WARNING: Package(s) not found: #, Version, mysql-connector, of, of, python

### 0.1.3 Connect python to the MySQL server

<div class="alert alert-block alert-danger">
<b>üë©‚Äçüíªüë®‚Äçüíª Action required</b>

- Run the cells bellow and check that no errors are returned.
- Change the password to the one you created when installing MySQL.

</div>

In [3]:
def create_server_connection(host_name, user_name, user_password):
    """
    This function attempts to establish a connection to a MySQL database server
    using the provided credentials.

    Args:
    - host_name (str): The hostname or IP address of the MySQL server.
    - user_name (str): The username for authenticating with the MySQL server.
    - user_password (str): The password for the user.

    Returns:
    - mysql.connector.connection.MySQLConnection or None: A MySQL database connection object if the connection is successful, or None if an error occurs during connection.
    
    Raises:
    - mysql.connector.Error: If an error occurs during the database creation process.
    
    
    """
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            password=user_password
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

In [4]:
###########################
# Task: 
#   change pw with the MySQL server password you chose in 0.1.1, and run the cell
#
###########################

pw = "201224xuyaman" #<--- your password here
server_connection = create_server_connection("localhost", "root", pw)

MySQL Database connection successful

## 0.2 Setting up a NoSQL online database and its connection to the Notebook

### 0.2.1 Create a MongoDB ATLAS account

**What is MongoDB?**

**MongoDB is a flexible and scalable NoSQL database system that stores data in a document-oriented format (BSON)**. MongoDB environments provide users with a server to create databases with MongoDB. MongoDB stores data as records that are made up of collections and documents. That server can be access via an API, which allows for data manipulation with a variaty of programming languages (C, C++, C#, Go, Java, Python, Ruby and Swift). 

**Data structures in MongoDB**

In MongoDB, a **database** is the container for collections. A single **collection**  is the container for documents. **Documents** are usually key/value pairs but it can include arrays and subdocuments. It can support different data types. More information here: https://docs.mongodb.com/manual/reference/bson-types/. 

| Relational DB  | MongoDB  |
|---|---|
|  Database | Database  |  
| Tables  |  Collections |
| Rows  | Documents  |
| Index  |  Index |



You can find more information about MongoDB document structure https://docs.mongodb.com/manual/core/document/. If you are not familiar with JSON and BSON specifications, you might wish to read about them here:
- JSON: https://www.json.org/json-en.html
- BSON: http://bsonspec.org


<div class="alert alert-block alert-danger">
<b>üë©‚Äçüíªüë®‚Äçüíª Action required</b>

- Follow the instructions in `ELEC0136Lab2-TutorialMongoDB.pdf`
- Add `pymongo` and `dnspython` to the requirements.txt file.
- Open a terminal, navigate using `cd` to the folder in which requirements.txt is located, and run `pip3 install -r requirements.txt`.
- Import `pymongo` and `dnspython`,  with the code below and check that there are no errors.
</div>

In [1]:
# FOR DEBUGGING Install pymongo and dnspython
#!pip install pymongo
#!pip install dnspython


# Run cell to import librairies
import pymongo
from pprint import pprint
from random import randint

### 0.2.2 Connect the Notebook to MongoDB

<div class="alert alert-block alert-danger">
<b>üë©‚Äçüíªüë®‚Äçüíª Action required</b>

- Replace uri with the link you copied from MongoDB's online platform when setting the connection to the cluster.
    
- Replace $<password>$ with your password.

</div>

In [2]:
###########################
# Task: 
#   Replace uri with the link you copied from MongoDB's online platform
#
###########################


uri = "mongodb+srv://root:201224xuyaman@cluster0.flsktev.mongodb.net/?retryWrites=true&w=majority"

#########
# Create a new client and connect to the server
client = pymongo.MongoClient(uri)
# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

# 1. Crossing orders and client data with SQL

*Credit: This part takes a lot of inspiration from this [SQL with python tutorial](https://www.freecodecamp.org/news/connect-python-with-sql/), which could be valuable if you decide to use a SQL database for your project as it covers more ground than this lab.* 

*You can also check this [SQL tutorial about queries](https://towardsdatascience.com/data-analysis-in-mysql-operators-joins-and-more-in-relational-databases-26c0a968e61e) if you want to learn more about SQL synthax.*

<div class="alert alert-heading alert-danger" style="background-color: white; border: 2px solid; border-radius: 5px; color: #000; border-color:#AAA; padding: 10px">
    <b>üíé Tip</b>

In this lab, the SQL-specific commands are in all-caps (SELECT, INSERT...) while the name specific to the database aren't (order_id, client_dob...).
    
In practice, SQL doesn't differenciate between all caps and small caps, this is just to make it clearer to you what the SQL commands are.
</div>

## 1.1 Create and populate your SQL database

### 1.1.1 Create a database in your MySQL server and establish a connection

The SQL query to create a new database is: `CREATE DATABASE database_name` 

<div class="alert alert-block alert-danger">
<b>üë©‚Äçüíªüë®‚Äçüíª Action required</b>
    
- In the cell bellow, write an SQL query to create a database named "Retail".

</div>

<div class="alert alert-heading alert-danger" style="background-color: white; border: 2px solid; border-radius: 5px; color: #000; border-color:#AAA; padding: 10px">
    <b>üíé Tip</b>

If at some point you make a mistake (you gave the database the wrong name...), and want to start again, you can delete a database with the query `DROP DATABASE database_name`.
</div>

In [11]:
###########################
# Task: 
#   Write an SQL query to create a database named "Retail"
#
###########################


creata_database_query = "CREATE DATABASE Retail" #<--TODO: YOUR SQL QUERY HERE BETWEEN THE ""

######
cursor = server_connection.cursor()
try:
    cursor.execute(creata_database_query)
    print("Database created successfully")
except Error as err:
    print(f"Error: '{err}'")

Error: '1007 (HY000): Can't create database 'retail'; database exists'

In [12]:
# RUN THIS CELL
def create_db_connection(host_name, user_name, user_password, db_name):
    """
    Create a MySQL database connection.

    Args:
    - host_name (str): The hostname or IP address of the MySQL server.
    - user_name (str): The username for authentication.
    - user_password (str): The password for authentication.
    - db_name (str): The name of the database to connect to.

    Returns:
    - connection (MySQLConnection): A MySQL database connection object if successful,
      or None if an error occurs.
      
    Raises:
    - mysql.connector.Error: If an error occurs during the database creation process.
      
    """
    
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password,
            database=db_name
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

In [13]:
# RUN THIS CELL
db_connection = create_db_connection("localhost", "root", pw, "Retail")

MySQL Database connection successful

### 1.1.2 Create tables in your database, and insert rows in them

To simplify the code, we create two functions: 
- `execute_query` will be used to run queries that modify the database.
- `read_query` will be used to run queries that interogate the database without modifying it.

<div class="alert alert-block alert-warning">
<b>üë©‚Äçüíªüë®‚Äçüíª Optional action</b>
    
-  You can look into the [commit method documentation](https://dev.mysql.com/doc/connector-python/en/connector-python-api-mysqlconnection-commit.html) to understand how the method `execute_query` works.

-  You can look into the [fetchall method documentation](https://dev.mysql.com/doc/connector-python/en/connector-python-api-mysqlcursor-fetchall.html) to understand how the method `read_query` works.
    
    
</div>

In [14]:
# RUN THIS CELL
def execute_query(connection, query):
    """
    Execute a SQL query that modifies the database.

    Args:
    - connection (mysql.connector.connection.MySQLConnection): A MySQL database connection object.
    - query (str): The SQL query to be executed.

    Raises:
    - mysql.connector.Error: If an error occurs during the query execution, it is caught
                               and an error message is printed to the console. No exception
                               is raised to the caller, so handle exceptions as needed.

    Example:
        connection = mysql.connector.connect(
            host="localhost",
            user="username",
            password="password",
            database="mydatabase"
        )
        query = "SELECT * FROM mytable"
        result = execute_query(connection, query)
        for row in result:
            print(row)
    """
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query successful")
    except mysql.connector.Error as err:
        print(f"Error: '{err}'")

In [8]:
# RUN THIS CELL
def read_query(connection, query):
    """
    Execute a SQL query that interogate the database without modifying it.

    Args:
    - connection (mysql.connector.connection.MySQLConnection): A MySQL database connection object.
    - query (str): The SQL query to be executed.

    Returns:
    - list: A list of tuples representing the result set of the query.
              Each tuple contains the data from a single row in the result.

    Raises:
    - mysql.connector.Error: If an error occurs during the query execution, it is caught
                               and an error message is printed to the console. No exception
                               is raised to the caller, so handle exceptions as needed.

    Example:
        connection = mysql.connector.connect(
            host="localhost",
            user="username",
            password="password",
            database="mydatabase"
        )
        query = "SELECT * FROM mytable"
        result = execute_query(connection, query)
        for row in result:
            print(row)
    """
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except mysql.connector.Error as err:
        print(f"Error: '{err}'")

In the following cells, we will create a table named Orders that will contain the following columns:

| Column name  | data type in SQL syntax | 
|---|---|
|  order_id | INT  |  
| client_id  |  INT |
| item_id  | INT  |
| item_quantity  |  INT |
| price | FLOAT |

**IMPORTANT:** order_id is going to be the **primary key** of this table, meaning that it will be a unique identifier of each rows. In other words, two rows can't have the same order_id.

In [15]:
# RUN THIS CELL - Creating a table named Orders
create_table_Orders_query = """
CREATE TABLE Orders (
  order_id INT PRIMARY KEY,
  client_id INT,
  item_id INT,
  item_quantity INT,
  price FLOAT
);
"""
db_connection = create_db_connection("localhost", "root", pw, "Retail")
execute_query(db_connection, create_table_Orders_query)

MySQL Database connection successful
Error: '1050 (42S01): Table 'orders' already exists'

In [16]:
# RUN THIS CELL - Showing all the tables in the database (There should now be one table)
show_db_query = "SHOW TABLES;"

db_connection = create_db_connection("localhost", "root", pw, "Retail")
read_query(db_connection, show_db_query)

MySQL Database connection successful

[('clients',), ('orders',)]

In [17]:
# RUN THIS CELL - Adding data to table Orders
push_data_to_Orders_query = """
INSERT INTO Orders VALUES 
(1,101,10101,3,50.00),
(3,103,10103,2,30.00),
(4,101,10104,5,80.00),
(5,104,10101,1,15.00),
(6,103,10106,2,40.00),
(7,101,10101,3,50.00),
(8,102,10104,1,20.00),
(9,102,10109,1,1160000000.00),
(10,101,10110,1,10.00);
"""
db_connection = create_db_connection("localhost", "root", pw, "Retail")
execute_query(db_connection, push_data_to_Orders_query)

MySQL Database connection successful
Error: '1062 (23000): Duplicate entry '1' for key 'orders.PRIMARY''

In [18]:
# RUN THIS CELL - Showing all the data in table Orders
show_orders_query = "SELECT * FROM Orders;"  #in SQL syntax, * means all the data

db_connection = create_db_connection("localhost", "root", pw, "Retail")
read_query(db_connection, show_orders_query)

MySQL Database connection successful

[(1, 101, 10101, 3, 50.0),
 (3, 103, 10103, 2, 30.0),
 (4, 101, 10104, 5, 80.0),
 (5, 104, 10101, 1, 15.0),
 (6, 103, 10106, 2, 40.0),
 (7, 101, 10101, 3, 50.0),
 (8, 102, 10104, 1, 20.0),
 (9, 102, 10109, 1, 1160000000.0),
 (10, 101, 10110, 1, 10.0)]

In [19]:
# RUN THIS CELL - Showing all the data in table Orders
show_orders_query = "SELECT DISTINCT item_id FROM Orders;"  #in SQL syntax, * means all the data

db_connection = create_db_connection("localhost", "root", pw, "Retail")
read_query(db_connection, show_orders_query)

MySQL Database connection successful

[(10101,), (10103,), (10104,), (10106,), (10109,), (10110,)]

**Your turn!**

<div class="alert alert-block alert-danger">
<b>üë©‚Äçüíªüë®‚Äçüíª Action required</b>
    
- Create a table called Clients with the following columns (**make client_id the primary key**):
| Column name  | data type in SQL syntax | 
|---|---|
| client_id  |  INT |
| client_name  | VARCHAR(10)  |
| client_dob  | DATE |

- Fill the Users table with the provided data bellow.

</div>



<div class="alert alert-heading alert-danger" style="background-color: white; border: 2px solid; border-radius: 5px; color: #000; border-color:#AAA; padding: 10px">
    <b>üíé Tip</b>

- VARCHAR and DATE types have to be in between '', exemple: 3rd of July 2023 is '2023-06-03'.
    
- Copy/paste the cells used in creating and filling the Orders table, and modify the queries where you need it.

- If at some point you make a mistake (you gave the table the wrong name...), and want to start again, you can delete a table with the query `DROP TABLE table_name`.
</div>

In [20]:
###########################
# Task: 
#   Create a table called Clients 
#
###########################

#TODO
create_table_Clients_query = """
CREATE TABLE Clients (
  client_id INT PRIMARY KEY,
  client_name VARCHAR(10),
  client_dob DATE
);
"""
db_connection = create_db_connection("localhost", "root", pw, "Retail")
execute_query(db_connection, create_table_Clients_query)

MySQL Database connection successful
Error: '1050 (42S01): Table 'clients' already exists'

In [21]:
# RUN THIS CELL - Showing all the tables in the database (There should now be two tables)
show_db_query = "SHOW TABLES;"

db_connection = create_db_connection("localhost", "root", pw, "Retail")
read_query(db_connection, show_db_query)

MySQL Database connection successful

[('clients',), ('orders',)]

In [22]:
#RUN THIS CELL - Data to add to the table Clients
pd.read_csv("./Clients.csv", index_col=0)

          client_name  client_dob
client_id
101            Albert  1879-03-14
102             Marie  1867-11-07
103            Werner  1901-12-05
104            Robert  1914-03-04

In [23]:
###########################
# Task: 
#   Fill the table Clients with the data above
#
###########################

#TODO
push_data_to_Clients_query = """
INSERT INTO Clients VALUES 
(101,'Albert','1879-03-14'),
(102,'Marie','1867-11-07'),
(103,'Werner','1901-12-05'),
(104,'Robert','1914-03-04');
"""
db_connection = create_db_connection("localhost", "root", pw, "Retail")
execute_query(db_connection, push_data_to_Clients_query)

MySQL Database connection successful
Error: '1062 (23000): Duplicate entry '101' for key 'clients.PRIMARY''

In [24]:
# RUN THIS CELL - Showing all the data in table Clients
show_orders_query = "SELECT * FROM Clients;"

db_connection = create_db_connection("localhost", "root", pw, "Retail")
read_query(db_connection, show_orders_query)

MySQL Database connection successful

[(101, 'Albert', datetime.date(1879, 3, 14)),
 (102, 'Marie', datetime.date(1867, 11, 7)),
 (103, 'Werner', datetime.date(1901, 12, 5)),
 (104, 'Robert', datetime.date(1914, 3, 4))]

## 1.2 Interrogate your database

### 1.2.1 SELECT

To query data from databases, the SELECT statement is used. the SELECT
syntax is the following:

`SELECT column1, column2 FROM table_name;`

Where, column1, column2, ... are the field names of the table you want to select
data from. The data returned is returned in a table format.

<div class="alert alert-block alert-danger">
<b>üë©‚Äçüíªüë®‚Äçüíª Action required</b>
    
- Write a SQL query and use the `read_query` function to show the order_id and item_id columns of the Orders table. 

</div>

In [25]:
###########################
# Task: 
#   show the order_id and item_id columns of the Orders table
#
###########################

#TODO
show_Orders_query = "SELECT order_id, item_id FROM Orders;"

read_query(db_connection, show_Orders_query)

[(1, 10101),
 (3, 10103),
 (4, 10104),
 (5, 10101),
 (6, 10106),
 (7, 10101),
 (8, 10104),
 (9, 10109),
 (10, 10110)]

<div class="alert alert-block alert-danger">
<b>üë©‚Äçüíªüë®‚Äçüíª Action required</b>
    
- Write a SQL query and use the `read_query` function to show the different items_id in Orders.

</div>


<div class="alert alert-heading alert-danger" style="background-color: white; border: 2px solid; border-radius: 5px; color: #000; border-color:#AAA; padding: 10px">
    <b>üíé Tip</b>
    
**[`DISTINCT`](https://www.w3schools.com/sql/sql_ref_distinct.asp) in SQL is used to query the different values of a column.**
    
</div>

In [26]:
###########################
# Task: 
#   show the different items_id in the Orders table
#
###########################

#TODO
show_Orders_query = "SELECT DISTINCT item_id FROM Orders"
read_query(db_connection, show_Orders_query)

[(10101,), (10103,), (10104,), (10106,), (10109,), (10110,)]

### 1.2.2 WHERE and AND

A database can contain millions of records, therefore there is a need to filter the
results. The `WHERE` command serves this purpose, it is used to extract only the
records that fulfill a specified condition. The `AND` command allows to filter using multiple conditions.

**Example:** the following query would return the value in column1 of the rows of table_name where the value in column3 is equal to value3, and the value in column4 is greater than value4.

`SELECT column1 
FROM table_name
WHERE column3 = value3 AND column4 > value4;
`

<div class="alert alert-block alert-danger">
<b>üë©‚Äçüíªüë®‚Äçüíª Action required</b>
    
- Write a SQL query and use the `read_query` function to show the orders_id of orders made by client 101 that were less than 60 pounds.

</div>

In [27]:
###########################
# Task: 
#   show the orders_id of orders made by client 101 that were less than 60 pounds
#
###########################

#TODO
show_Orders_query = "SELECT order_id FROM Orders WHERE client_id = 101 AND price < 60"
read_query(db_connection, show_Orders_query)

[(1,), (7,), (10,)]

### 1.2.3 INNER JOIN

We can query information from multiple tables using the [`INNER JOIN`](https://www.w3schools.com/sql/sql_ref_join.asp) statement.

**Example:** the following query would return the value in column1 of the rows of table1 where the value of column1 in table one corresponds to the value of column3 of table2, and where the value in column3 of table2 is equal to value3, and the value in column4 of table2 is greater than value4.

`SELECT table1.column1 
FROM table1
INNER JOIN table2 ON table1.column1 = table2.column3
WHERE table2.column3 = value3 AND table2.column4 > value4;
`

<div class="alert alert-block alert-danger">
<b>üë©‚Äçüíªüë®‚Äçüíª Action required</b>
    
- Write a SQL query and use the `read_query` function to show the orders_id and client_id of orders made by clients named Robert.

</div>

In [28]:
###########################
# Task: 
#   show the orders_id of orders made by clients named Robert
#
###########################

#TODO
show_Orders_query = "SELECT Orders.order_id, Orders.client_id FROM Orders INNER JOIN Clients ON Orders.client_id = Clients.client_id AND Clients.client_name='Robert'"
read_query(db_connection, show_Orders_query)

[(5, 104)]

<div class="alert alert-block alert-warning">
    <b>üë©‚Äçüíªüë®‚Äçüíª Optional action</b>

**Let's do some prompt engineering to help craft SQL requests**    
- Open [ChatGPT](http://chat.openai.com)
- Type in the following prompt: `I have a SQL table called Clients and a SQL table called Orders on my database. I want to know how many different item_id has the user with user_id 101 ordered. Write a SQL query to find that information.`   
- Test the query generated by chatGPT, did it work?
    
</div>

In [29]:
###########################
# Task: 
#   Use chatGPT to generate a query and execute that query.
#
###########################

#TODO
SELECT COUNT(DISTINCT o.item_id) AS num_different_items_ordered
FROM Clients AS c
JOIN Orders AS o ON c.client_id = o.client_id
WHERE c.user_id = 101;

SyntaxError: invalid syntax (3501608389.py, line 8)

## 2. NoSQL with MongoDB

**What is NoSQL?**

NoSQL (which stands for "not only SQL") is a **category of database management systems** that diverge from traditional SQL (relational) databases. 

**In this part, we will demonstrate the ability of NoSQL to store Unstructured or Semi-Structured Data by using it to store the description of the different items that our retail website sells.**

## 2.1 Create item descriptions and add them to the NoSQL database

In MongoDB, a **database** is the container for collections. A single **collection**  is the container for documents. **Documents** are usually key/value pairs but it can include arrays and subdocuments. It can support different data types. More information here: https://docs.mongodb.com/manual/reference/bson-types/. 

| Relational DB  | MongoDB  |
|---|---|
|  Database | Database  |  
| Tables  |  Collections |
| Rows  | Documents  |
| Index  |  Index |

In the following cell, we create descriptions for the items on our website. Notice how different items type have different fields, and different number of fields. This is an exemple of **unstructured data**, and using SQL to store it would be a massive headache.

### 2.1.1 Create item descriptions

In [6]:
Item_descritions = [
    {
        "item_id": "10101",
        "item_type": "book",
        "languages": ["English", "French"],
        "title": "Moby Dick",
        "summary": "This book is about wales, boats and the sea.",
    },
    {
        "item_id": "10103",
        "item_type": "chair",
        "material": "Oak wood",
        "available_colors": ["Black", "Red"],
    },
    {
        "item_id": "10104",
        "item_type": "book",
        "languages": ["English"],
        "title": "How to use MongoDB",
        "summary": "This book might be usefull at some point",
    },
    {
        "item_id": "10106",
        "item_type": "sweater",
        "available_sizes": ["S", "M","L"],
        "material": "Coton",
        "available_colors": ["Black", "Red","Blue"],
    },
    {
        "item_id": "10109",
        "item_type": "rocket",
        "rocket_model": "Saturn V",
        "country_of_orgin": "USA",

    },
    {
        "item_id": "10110",
        "item_type": "lamp",
        "available_colors": ["Black", "White"],
        "lamp_type": "LED",

    },
    
]

### 2.1.2 Add the item descriptions to the MongoDB database

<div class="alert alert-block alert-danger">
<b>üë©‚Äçüíªüë®‚Äçüíª Action required</b>

- Upload the data to the database using `insert_on` or `insert_many` methods of the `MongoClient` class.


</div>

In [3]:
# RUN THIS - Create a database object called ‚Äúitems‚Äù

db = client.items

In [4]:
# RUN THIS - Create a collection called "descriptions"

descriptions = db.descriptions

In [7]:
###########################
# Task: 
#   add the data to the database using the insert_one or insert_many methods
#
###########################


### TO DO

descriptions.insert_many(Item_descritions) 

#########

OperationFailure: Unsupported OP_QUERY command: insert. The client driver may require an upgrade. For more details see https://dochub.mongodb.org/core/legacy-opcode-removal

<div class="alert alert-block alert-warning">
    <b>üë©‚Äçüíªüë®‚Äçüíª Optional action</b>

- On MongoDB's online platform, go to Database -> Browse Collections and check that you have a database named items with a collection named descriptions.
    
</div>

## 2.2 Query the MondoDB database

<div class="alert alert-block alert-danger">
<b>üë©‚Äçüíªüë®‚Äçüíª Action required</b>

- Find an item whose item_type is "rocket". You can use the method `find_one`.

</div>
<div class="alert alert-heading alert-danger" style="background-color: white; border: 2px solid; border-radius: 5px; color: #000; border-color:#AAA; padding: 10px">
    <b>üíé Tip</b>
    
Look up this [tutorial](https://pymongo.readthedocs.io/en/stable/tutorial.html#getting-a-single-document-with-find-one) to learn to use the `find_one` function. No need to use `pprint` here, just use the regular `print` function.
    
   
</div>

In [10]:
###########################
# Task: 
#   find an item whose item_type is "rocket"
#
###########################


### TO DO
print(descriptions.find_one({ "item_type": "rocket"}))


#########

OperationFailure: Unsupported OP_QUERY command: find. The client driver may require an upgrade. For more details see https://dochub.mongodb.org/core/legacy-opcode-removal

<div class="alert alert-block alert-danger">
<b>üë©‚Äçüíªüë®‚Äçüíª Action required</b>

- Find all the items whose item_type is "book". You can use the method `find` .


</div>

<div class="alert alert-heading alert-danger" style="background-color: white; border: 2px solid; border-radius: 5px; color: #000; border-color:#AAA; padding: 10px">
    <b>üíé Tip</b>
    
Look up this [tutorial](https://pymongo.readthedocs.io/en/stable/tutorial.html#querying-for-more-than-one-document) to learn to use the `find` function. No need to use `pprint` here, just use the regular `print` function.
    
   
</div>

In [11]:
###########################
# Task: 
#   Count the total students with final DAPS_assignment score equal to 3 and 8.
#
###########################


### TO DO
for description in descriptions.find({ "item_type": "book"}):
    print(description)

#########

OperationFailure: Unsupported OP_QUERY command: find. The client driver may require an upgrade. For more details see https://dochub.mongodb.org/core/legacy-opcode-removal

**Good news! All the books just became available in Greek.**

<div class="alert alert-block alert-danger">
<b>üë©‚Äçüíªüë®‚Äçüíª Action required</b>

- Update the languages array of the books to contain greek. You can use one of the following methods: `update_one`, `update_many`, or `replace_one`.

- Print all the languages array of all the books to check the Greek has been added. 


</div>

<div class="alert alert-heading alert-danger" style="background-color: white; border: 2px solid; border-radius: 5px; color: #000; border-color:#AAA; padding: 10px">
    <b>üíé Tip</b>
    
One possible method:

- Use `find` to identify all documents with item_type:"book".
- Extract the language array of each book with `languages = book["languages"]`, and use the method `.append()` to add "Greek" to the array.
- Finaly use `update_one` and the unique ObjectID of the document in the collection (`_id = book["_id"]`)to replace the old language field with the updated array. Look up this [tutorial](https://www.w3schools.com/python/python_mongodb_update.asp) to learn how to use it.

    
</div>

In [13]:
###########################
# Task: 
#   Adjust the score on all the students graded by David with final mark 4 to 5.
#
###########################


### TO DO
book = descriptions.find({ "item_type": "book"})
languages = book["languages"]
languages.append("Greek")
descriptions.update_one({"_id": book["_id"]},{"$set": {"languages": languages}})

#########

TypeError: index 'languages' cannot be applied to Cursor instances

## 2.3 Query both the SQL database and the MondoDB NoSQL database

<div class="alert alert-block alert-warning">
    <b>üë©‚Äçüíªüë®‚Äçüíª Optional action</b>

- Find the names and ids of the clients who bought the book "How to use MongoDB".
    
</div>

In [ ]:
###########################
# Task: 
#   Find the names and ids of the clients who bought the book "How to use MongoDB"
#
###########################


### TO DO

## 3. Submitting your assignment

To submit this assignment and **every other future assignment**, included the **final assignment** you have to:
- Commit and push your code to GitHub
- Go to **your** repository of the assignment. This must be on our course organisation `UCL-ELEC0136` and usually has the pattern `https://github.com/UCL-ELEC0136/<assignment-name>-<your-github-username>`.
- Go in the `Pull requests` tab and click on the `Feedback` pull request.
- Click on `Files changed` and verify that the files you have changed are listed.
- Merge the pull request by clicking on `Merge pull request` and then `Confirm merge`.

We are now ready to push our code that acquires data from GitHub to our repository (which is also GitHub, but this is just a coincidence, we could have used any other API, like Twitter's or Facebook's).

<div class="alert alert-block alert-danger">
<b>üë©‚Äçüíªüë®‚Äçüíª Action required</b>

Submit your assignment by following the steps above.
</div>